
section {

	border: 2px solid green;	/* creates solid border */
	border-color: #99CCFF;		/* color */
	position: absolute;			/* where the browser displays and element on page */
	float: right;				/* floats the aside to the right */
	width: 200px;				/* sets width equal to 200px */
	top: 50px;					/* effects location in relation to top side of page */
	left: 100px;				/* effects location in relation to left side of page */
	
}

footer {

	position: relative;			/* where the browser displays and element on page */
	float: center;				/* floats the aside to the right */
	width: 200px;				/* sets width equal to 200px */
	top: 150px;					/* effects location in relation to top side of page */
	left: 20px;					/* effects location in relation to left side of page */
	
}