body {
    background-color: lightblue;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}

.myPanel {
    margin: 3%;
}

.myPanel .heading {
    background: black;
}