/* 
	Sources:
		https://css-tricks.com/un-bloat-css-by-using-multiple-classes/
*/

body {}

.gallery {}

.artist-statement-carousel {
	height: 30%;
}

img.vertical-img-artist-statement {
	margin: auto;
	width: 25%;
}

img.horizontal-img-artist-statement {
	margin: auto;
	width: 44.5%;
}